<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.auth.daos.batis.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into auth_user(id, name, password, salt) VALUES
        (#{id},#{name},#{password},#{salt})
    </insert>

    <select id="findByName" resultType="com.bruce.auth.models.User">
        select * from auth_user where name = #{name};
    </select>

    <delete id="clearAll">
        delete from auth_user where id <![CDATA[<=]]> #{id};
    </delete>
</mapper>